.grid-container {
    height: 500px;
    width: 500px;
    border: 2px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.grid-box {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.play-button {
    width: 100%;
    height: 100%;
    
}

.marker {
    margin: 0;
    font-weight: bold;
    font-size: 4rem;
}

header {
    width: 100vw;
    position: absolute;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.score {
    font-size: 1.5rem;
}